<div class="modal-header" style="margin-top:0px; padding-top:0px;position:center; background-image:url(../img/bg-body.jpg);">
    <h4 class="modal-title futured">Welcome</h4>
</div>

    <div class="modal-body grid" style="max-height:500px; overflow:auto;margin-top:0px; padding-top:0px; background-image:url(../img/bg-body.jpg);">
        <h5>This is my Car Finder web application</h5>
        <h7><trong>Feel free to close this window at any moment to see the web application.</trong></h7>
        <hr />
        <h6>Built with</h6>
        <ul>
            <li>Angular</li>
            <li>ui-bootstrap</li>
            <li>Web APi</li>
            <li>SQL Stored Procedures</li>
        </ul>
        <hr />
        <h5>Angular</h5>
        <ul>
            <li>Created directives and services to control and bind html elements</li>
            <li>Implemented my own paging system with a mixture of angular and Web Api</li>
        </ul>
        <hr />
        <h5>Web Api</h5>
        <ul>
            <li>Created controllers that receive information and then call the stored procedures ang gets information about cars</li>
            <li>Created controllers that creates an "HttpWebRequest" that searches yahoo images and scrapes the images from the resulting html response</li>
        </ul>
        <hr />
        <h5>Aestetics used</h5>
        <ul>
            <li>CSS animated loading</li>
            <li>ui-bootstrap modals</li>
            <li>ui-bootstrap carousel</li>
        </ul>
        <hr />
        <h5>Thank You for visiting my car finder page</h5>

    </div>

<div class="modal-footer" style="margin-top:0px; padding-top:0px;  background-image:url(../img/bg-body.jpg);">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
    <button class="btn btn-1" ng-click="$close()">CLOSE</button>
</div>
